# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

.DS_Store

# Frontend
frontend/node_modules
frontend/.svelte-kit
frontend/build
frontend/package

# Desktop
desktop/node_modules
desktop/build

# Shared packages
packages/ui/node_modules

node_modules/
